.media-info-container {
    margin-top: 30px;
    color: #48474D;
    font-size: 14px;
    font-family: serif;
}

.media-info__line {
    display: flex;
}

.media-info__line--right {
    display: inline-block;
    width: 30%;
}

.media-info__line--left {
    display: inline-block;
    width: 70%;
}